*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    height: 100vh;
}

header{
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 0 12px;
}

header .options{
    display: flex;
    align-items: center;
    gap: 12px;
}

header .options a {
    text-decoration: none;
    color: black;
}

main{
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}
main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

main .container figure{
    max-height: 80px;
}

main .container figure img{
    height: 100%;
}

main .container p{
    color: black; 
    font-size: small;
}

main .container .searcher {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    height: 40px;
    width: 400px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 19px;
}

main .container .searcher input{
    width: 100%;
    border: none;
}
main .container .searcher-buttons {
    display: flex;
    gap: 10px;
}
main .container .searcher-buttons button { 
    border: none;
    border-radius: 6px;
    background-color: rgb(222, 222, 222);
    padding: 12px;
    color: black;
}

footer{
    display: flex;
    justify-content: end;
}



